{erl_opts, [
  debug_info,
  {parse_transform, lager_transform}
]}.
{plugins, [rebar3_auto]}.
{deps, [
  {slacker, {git, "git://github.com/julienXX/slacker.git", {branch, "master"}}},
  {lager, {git, "git://github.com/erlang-lager/lager", {branch, "master"}}},
  {websocket_client, {git, "git://github.com/jeremyong/websocket_client", {branch, "master"}}},
  {jsone, {git, "git://github.com/sile/jsone", {branch, "master"}}}
]}.